@font-face {
    font-family: 'CPMono_v07_Plain';
    src: url('../font/CPMono_v07_Plain.otf');
}

body {
	background: #fff;
	color: #000;
	font-family: Verdana, Arial, sans-serif;
}

button.script-status{
	width: 200px;
	padding: 0 0.8em;
	float: right;
	clear:right;
}

#top-bar button.script-status{
	margin-bottom: 5px;
	margin-top: 8px;
}

button#maintenance{
	width: 200px;
	padding: 0 0.8em;
	float: right;
	clear:right;
}
button#refresh-beer-chart{
	float:right;
	height:20px;
	width:20px;
	margin:5px;
}
button#refresh-beer-chart span.ui-icon{
	top:5px;
	left:0px;
}

/* Control Panel */
.google-visualization-table-td{
	text-align: center !important; 
}

#controls{
	position:relative;
	left:0px;
	top:0px;
	float:left;
	margin: 0px 10px 0px 0px;
}

#controls button{
	width: 140px;
	display: block;
	text-align: left;
}


#profileTableDiv{
	width: 375px;
	height: 280px;
	display:block;
	overflow:auto;
	float:right;
}

#profileChartDiv{
	/*width: 400px;
	height: 280px;*/ /*replaced by inline*/
	display: block;
	float:left;
}

#status-message{
	width: 400px;
	padding: 0.5em 0.8em;
	float: right;
}
#status-message p{
	margin: 0;
}


#control-bar-text{
	margin: 0px 2px;
	width:100%;
	height:18px;
	display:block;
	clear:both;
}
#status-text{
	float: right;
	width: 420px;
}

#set-mode-text{
	margin-left: 2px;
	float:left;
}



#beer-chart{
	/*width:900px;
	height:400px;*/ /*replaced by inline */
	padding: 5px;
	float:left;
}

#prev-beer-chart{
	/*width:900px;
	height:400px;*/ /*replaced by inline */
	padding: 5px;
	float:left;
}

#beer-panel{
	width:954px;
	height:540px;	
	padding: 2px 2px;
	margin-bottom:5px;
}

#control-panel{
	width:954px;
	height:350px;
	overflow:auto;
	padding-bottom: 10px;
}


#top-bar{
	width:942px;
	height: 90px;
	padding: 5px;
	overflow:auto;
}

#lcd{
	float:left;
	clear:none;
}
#logo-container{
	float:left;
	clear:none;
	display:block;
	margin-left:100px;	
}
#logo-container img{
	float:left;
	display:block;
}
#logo-container span#beername{
	float:left;
	display:block;
	line-height: 0.5em;
		
	color: #ddd;
	text-shadow: #333 1px 1px 1px;
	padding-left: 7px;
}

.temperature{
	font-family: 'CPMono_v07_Plain', sans-serif;
	font-size:5em;
	float:right;
}
.temp-container{
	width:175px;
	float:left;
}


.degree{
	font-family: 'CPMono_v07_Plain', sans-serif;
	font-size:2em;
	float:right;
	clear:right;
	margin-right:5px;
}

.temp-display{
	border: #555 solid 2px;
	overflow:auto;
	width:240px;
	margin-left: 300px;
	margin-top: 40px;
}

.temp-up{
	float:right;
	clear:right;
	margin:5px;
}
.temp-down{
	float:right;
	clear:right;
	margin:5px;
}

/* LCD display styling */
@font-face {
    font-family: '5x8LCDHD44780UA02Regular';
    src: url('../font/5x8_lcd_hd44780u_a02-webfont.eot');
    src: url('../font/5x8_lcd_hd44780u_a02-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/5x8_lcd_hd44780u_a02-webfont.woff') format('woff'),
         url('../font/5x8_lcd_hd44780u_a02-webfont.ttf') format('truetype'),
         url('../font/5x8_lcd_hd44780u_a02-webfont.svg#5x8LCDHD44780UA02Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.lcddisplay {
	width: 240px;
	height: 80px;
	padding: 5px 16px;
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top, #000000 2%, #2b2b2b 11%, #212121 54%, #212121 92%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#000000), color-stop(11%,#2b2b2b), color-stop(54%,#212121), color-stop(92%,#212121), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #000000 2%,#2b2b2b 11%,#212121 54%,#212121 92%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #000000 2%,#2b2b2b 11%,#212121 54%,#212121 92%,#000000 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #000000 2%,#2b2b2b 11%,#212121 54%,#212121 92%,#000000 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #000000 2%,#2b2b2b 11%,#212121 54%,#212121 92%,#000000 100%); /* W3C */
	-webkit-box-shadow: inset 1px 1px 5px #333333;
	-moz-box-shadow: inset 1px 1px 5px #333333;
	box-shadow: inset 1px 1px 5px #333333;	color: #000;
	font-size: 16px;
	line-height: 1.2em;
	font-weight: normal;
    font-style: normal;
    font-size:nofrmal:
	
	border: 2px solid #333;
	font-family: '5x8LCDHD44780UA02Regular';
	color:#FFFF00;
	white-space:pre;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}


#maintenance-panel .setting-container{
	clear:both;
	padding:10px;
	margin: 20px 15px;	
}
.ui-dialog{
	overflow: auto;
}

#maintenance-panel .setting-container span{
	float:left;
	clear:none;
}

#maintenance-panel select#interval,
#maintenance-panel input#beer-name{
	position:absolute;
	float: left;
	left: 400px;
}

#maintenance-panel #settings-container{
	height: 130px;	
}

#maintenance-panel button.apply{
	position:absolute;
	float: left;
	left: 700px;
}

#maintenance-panel #beer-selector{
	margin-bottom: 20px;	
}

#profile_control #controls button{
	margin-bottom:5px;	
}

